* {
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red; */
}

/* navbar and header style */
.nav-container {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  background-color: #585858;
  color: white;
}
.items {
  display: flex;
  list-style: none;
}
.item {
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
  margin-right: 10px;
}
/* banner section styles */
.banner-container {
  width: 100%;
  height: 100vh;
  background-image: url(../demo-of-digital-agency/asset/image/background.jpg),
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.banner-title {
  font-size: 85px;
  font-weight: bold;
}
.primary {
  color: rgb(224, 12, 12);
}
.description {
  font-size: 22px;
  width: 50%;
  margin: auto;
  padding: 10px;
}
.btn {
  /* Is is common class of both button */
  padding: 15px 35px;
  border: none;
  font-size: 18px;
  margin: 5px;
  border-radius: 5px;
}
.btn-discover {
  background-color: red;
  color: white;
}
.btn-hire {
  color: red;
}
/* service section styles */
.service-container {
  width: 100%;
  height: 100vh;
  background-image: url(../demo-of-digital-agency/asset/image/footer-bg.png),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  background-blend-mode: overlay;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-btn {
  color: gray;
  border-radius: 25px;
}
.service-title {
  font-size: 40px;
  font-weight: bold;
  color: rgb(190, 207, 208);
  padding-left: 10px;
}
.service-description {
  width: 75%;
  font-size: 20px;
  padding: 12px;
  color: rgb(190, 207, 208);
}
.service-list {
  font-size: 18px;
  width: 50%;
  padding: 35px;
  color: rgb(190, 207, 208);
}
.author-details {
  display: flex;
  align-items: center;
  justify-content: start;
}
.author-img-description {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  align-items: center;
  border-right: 1px solid red;
}
.author-img {
  width: 40%;
  border-radius: 100px;
  padding: 7px;
}
.more-details {
  padding: 10px 30px;
  margin-left: 11px;
  border-radius: 25px;
  color: rgb(245, 44, 44);
}
.more-details-btn {
  padding: 15px 20px;
  color: rgb(226, 10, 10);
  border-radius: 25px;
}
.service {
  padding: 10px;
  background-color: white;
  box-shadow: 4px 4px 8px gray;
  width: 200px;
  height: 200px;
  color: black;
  text-align: center;
  border-radius: 5px;
}
.service-logo {
  width: 50%;
  padding: 15px;
}
.service-up {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
.service-down {
  display: flex;
  gap: 15px;
}
.service-left-container {
  width: 50%;
}
/* appointment section styles */
.appointment-section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(228, 29, 46, 0.993);
  width: 75%;
  padding: 30px;
  border-radius: 20px;
  margin: auto;
  margin-top: -70px;
}
.call-icon {
  width: 90px;
  padding-right: 20px;
}
.appointment-left {
  display: flex;
  margin-right: 20px;
  border-right: 2px solid gray;
  width: 50%;
}
.appointment-text {
  width: 50%;
}
.appointment-right {
  display: flex;
  justify-content: space-around;
}
.appointment-btn {
  padding: 15px 50px;
  color: rgb(12, 10, 10);
  font-weight: 700;
  border-radius: 25px;
  border: none;
}
/* blog and news section styles */

.blog-and-news {
  width: 100%;
  height: 100vh;
  text-align: center;
}
.blog-and-news-top-items {
  height: 170px;
  width: 60%;
  text-align: center;
  margin: auto;
  padding-top: 100px;
}
.blog-and-news-title {
  font-size: 50px;
  font-weight: bold;
}
.blog-and-news-text {
  font-size: 25px;
  color: #585858;
  padding-top: 10px;
}
.blog-color {
  color: red;
}
.blog-and-news-bottom-items {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}
.news-img-text {
  padding: 10px;
  background-color: white;
  box-shadow: 4px 4px 8px gray;
  width: 340px;
  height: 380px;
  color: black;
  text-align: center;
  border-radius: 15px;
}
.news-img {
  width: 350px;
  height: 260px;
}
/* footer section styles */
footer {
  width: 100%;
  height: 50vh;
  background-image: url(../demo-of-digital-agency/asset/image/footer-bg.png),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  background-blend-mode: overlay;
  color: white;
  align-items: center;
  background-repeat: no-repeat;
  margin-top: 70px;
}
.footer-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.footer-text {
  font-size: 18px;
  text-align: center;
  padding: 15px;
}
.c-icon {
  height: 25px;
  width: 25px;
  padding-left: 15px;
}
.footer-heading {
  font-size: 20px;
  padding-bottom: 35px;
}
.copy {
  text-align: center;
  padding: 15px;
  color: white;
}
